/build/
*.o
*.elf
*.bin
*.hex
*.map
*.lst
*.axf
*.d

*.suo
*.obj
*.a
*.lib
*.d
*.dep
*.lnt

/.vscode/
/.idea/
/*.uvproj*
/*.uvopt*
/*.cproject
/*.project
/*.settings/

/Drivers/CMSIS/
/Drivers/STM32F*/ # STM32のヘッダ類
/Middlewares/
/Utilities/
/Core/Inc/

.DS_Store

*.dSYM/
/*.dSYM/

*.exe
*.out
*.dump
*.img
*.iso

*.gdbinit
*.gdb_history